@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

:root {
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;
  background-color: #ffffff;
  color: #1f1f1f;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #ffffff;
}

a {
  color: inherit;
}
